.icono-stroke,
.icono-home,
.icono-home:before,
.icono-home:after,
.icono-mail,
.icono-mail:before,
[class*="icono-check"][class*="Circle"],
.icono-power,
.icono-heart,
.icono-heart:before,
.icono-heart:after,
.icono-infinity:before,
.icono-infinity:after,
.icono-flag:before,
.icono-flag:after,
.icono-file,
.icono-document,
.icono-folder,
.icono-pin,
.icono-pin:before,
.icono-smile,
.icono-smile:after,
.icono-eye,
.icono-sync,
.icono-signIn,
.icono-signIn:before,
.icono-signOut,
.icono-signOut:before,
.icono-chain:before,
.icono-chain:after,
.icono-youtube,
.icono-youtube:before,
.icono-rename,
.icono-search,
.icono-book,
.icono-book:before,
.icono-book:after,
.icono-forbidden,
.icono-trash,
.icono-keyboard,
.icono-mouse,
.icono-mouse:before,
.icono-user,
.icono-user:before,
.icono-crop,
.icono-crop:before,
.icono-display,
.icono-imac,
.icono-imacBold,
.icono-iphone,
.icono-iphoneBold,
.icono-macbook:before,
.icono-macbookBold:before,
.icono-image,
.icono-headphone,
.icono-video,
.icono-nexus,
.icono-microphone,
.icono-microphone:before,
.icono-terminal,
.icono-paperClip,
.icono-paperClip:before,
.icono-paperClip:after,
.icono-market,
.icono-market:after,
.icono-clock,
.icono-commentEmpty,
.icono-areaChart,
.icono-bookmarkEmpty,
.icono-bookmarkEmpty:before,
.icono-volumeLow:before,
.icono-tag,
.icono-tag:after,
.icono-camera,
.icono-piano,
.icono-ruler,
.icono-creditCard,
[class*="icono-"][class*="Circle"],
[class*="icono-"][class*="Square"],
.icono-frown,
.icono-frown:after,
.icono-meh,
.icono-meh:after,
.icono-barChart,
.icono-volumeMedium:before,
.icono-volumeHigh:after,
.icono-volumeHigh:before {
  border: 1px solid;
}
.stickCenterV,
.icono-dropper:before,
.icono-list:before,
.icono-chain:before,
.icono-chain:after,
.icono-rename:before,
.icono-video:before,
.icono-paperClip:before,
.icono-indent:before,
.icono-volumeLow:before,
.icono-volumeDecrease:before,
.icono-volumeDecrease:after,
.icono-flickr:before,
.icono-flickr:after,
.icono-rightArrow:before,
.icono-outdent:before,
.icono-volumeMedium:before,
.icono-volumeHigh:after,
.icono-volumeIncrease:before,
.icono-volumeIncrease:after,
.icono-leftArrow:before,
.icono-upArrow:before,
.icono-downArrow:before,
.icono-volumeHigh:before,
.icono-volumeMute:before,
.icono-volumeMute:after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.stickCenterH,
.icono-search:before,
.icono-trash:before,
.icono-mouse:before,
.icono-mouse:after,
.icono-user:before,
.icono-display:before,
.icono-display:after,
.icono-imac:after,
.icono-imacBold:before,
.icono-imacBold:after,
.icono-iphone:before,
.icono-iphone:after,
.icono-macbook:before,
.icono-macbookBold:before,
.icono-microphone:before,
.icono-microphone:after,
.icono-market:after,
[class*="icono-textAlign"].icono-textAlignCenter:before,
[class*="icono-textAlign"].icono-textAlignCenter:after,
[class*="icono-exclamation"]:after,
.icono-tag:after,
.icono-cup:after,
.icono-sitemap:before,
.icono-sitemap:after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.stickCenter,
[class*="icono-plus"]:before,
[class*="icono-cross"]:before,
[class*="icono-plus"]:after,
[class*="icono-cross"]:after,
.icono-document:after,
.icono-pin:before,
.icono-eye:before,
.icono-gear:before,
.icono-youtube:after,
.icono-forbidden:before,
.icono-keyboard:before,
.icono-video:after,
.icono-clock:before,
.icono-clock:after,
.icono-camera:before,
.icono-gplus:after,
.icono-instagram:before,
[class*="icono-check"]:before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.spin {
  animation: loading-spinner 2s infinite linear;
}
.spin.step {
  animation: loading-spinner 0.5s steps(8, end) infinite;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.icono-icono {
  width: 7px;
  height: 2px;
  box-shadow: inset 0 0 0 16px, 0 8px, 9px -9px;
  transform: skew(0, 30deg);
  margin: 6px 10px 10px 1px;
}
.icono-icono:before {
  position: absolute;
  width: 7px;
  height: 2px;
  box-shadow: inset 0 0 0 16px, 0 8px, -9px -9px;
  right: -9px;
  top: -5px;
  transform: skew(0, -48deg);
}
.icono-icono:after {
  position: absolute;
  width: 11px;
  height: 8px;
  left: 0;
  top: -3px;
  border: 2px solid;
  border-top-color: transparent;
  border-bottom: none;
  transform: skew(0, -30deg) scaleY(0.6);
}
.icono-home {
  width: 11px;
  height: 8px;
  border-top: none;
  margin: 8px 3px 2px;
}
.icono-home:before {
  width: 9px;
  height: 9px;
  transform: rotate(45deg);
  position: absolute;
  left: -1px;
  top: -4px;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.icono-home:after {
  width: 3px;
  height: 5px;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-width: 1px;
  border-bottom: none;
}
.icono-mail {
  width: 14px;
  height: 9px;
  overflow: hidden;
  margin: 4px 2px;
}
.icono-mail:before {
  position: absolute;
  width: 13px;
  height: 13px;
  transform: rotate(50deg) skew(-10deg, -20deg);
  top: -10px;
  left: -2px;
}
.icono-rss {
  width: 11px;
  height: 11px;
  overflow: hidden;
  margin: 3px;
}
.icono-rss:before,
.icono-rss:after {
  position: absolute;
  border-radius: 50%;
}
.icono-rss:before {
  width: 3px;
  height: 3px;
  box-shadow: 0 0 16px inset;
  left: 0;
  bottom: 0;
}
.icono-rss:after {
  width: 14px;
  height: 14px;
  right: 15%;
  top: 15%;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 1px, 0 0 0 1px;
}
.icono-bars,
.icono-hamburger {
  width: 10px;
  height: 1px;
  box-shadow: inset 0 0 0 16px, 0 -3px, 0 3px;
  margin: 8px 4px;
}
[class*="icono-plus"],
[class*="icono-cross"] {
  width: 15px;
  height: 15px;
  margin: 1px;
}
[class*="icono-plus"]:before,
[class*="icono-cross"]:before,
[class*="icono-plus"]:after,
[class*="icono-cross"]:after,
[class*="icono-check"]:before {
  box-shadow: inset 0 0 0 16px;
}
[class*="icono-plus"]:before,
[class*="icono-cross"]:before,
[class*="icono-check"]:before {
  width: 10px;
  height: 1px;
}
[class*="icono-plus"]:after,
[class*="icono-cross"]:after {
  height: 10px;
  width: 1px;
}
[class*="icono-plus"][class*="Circle"]:before,
[class*="icono-cross"][class*="Circle"]:before {
  width: 9px;
}
[class*="icono-plus"][class*="Circle"]:after,
[class*="icono-cross"][class*="Circle"]:after {
  height: 9px;
}
.icono-cross,
.icono-crossCircle {
  transform: rotate(45deg);
}
[class*="icono-check"] {
  width: 14px;
  height: 14px;
  margin: 2px 0 2px 3px;
  transform: rotate(-45deg);
}
[class*="icono-check"]:before,
[class*="icono-check"]:after {
  box-shadow: inset 0 0 0 16px;
}
[class*="icono-check"]:after {
  position: absolute;
  height: 6px;
  width: 1px;
  left: 2px;
  bottom: 7px;
}
[class*="icono-check"][class*="Circle"] {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 1px;
}
[class*="icono-check"][class*="Circle"]:before {
  width: 7px;
  top: 8px;
  left: 7px;
}
[class*="icono-check"][class*="Circle"]:after {
  height: 4px;
  left: 4px;
  bottom: 5px;
}
.icono-power {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border-top-color: transparent;
  margin: 3px;
}
.icono-power:before {
  position: absolute;
  top: -15%;
  left: 4px;
  width: 1px;
  height: 60%;
  box-shadow: inset 0 0 0 16px;
}
.icono-heart {
  width: 10px;
  height: 10px;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
  border-radius: 2px 0;
  margin: 5px 4px 3px;
}
.icono-heart:before,
.icono-heart:after {
  position: absolute;
}
.icono-heart:before {
  width: 4px;
  height: 7px;
  left: -5px;
  bottom: -1px;
  border-radius: 10px 0 0 10px;
  border-right-color: transparent;
}
.icono-heart:after {
  width: 7px;
  height: 4px;
  right: -1px;
  top: -5px;
  border-radius: 10px 10px 0 0;
  border-bottom-color: transparent;
}
.icono-infinity {
  width: 16px;
  height: 8px;
  margin: 5px 1px;
}
.icono-infinity:before,
.icono-infinity:after {
  width: 5px;
  height: 5px;
  position: absolute;
  transform: rotate(45deg);
}
.icono-infinity:before {
  left: 0;
  border-radius: 16px 0 16px 16px;
}
.icono-infinity:after {
  right: 1px;
  border-radius: 16px 16px 16px 0;
}
.icono-flag {
  width: 11px;
  height: 13px;
  border-left: 2px solid;
  margin: 3px 3px 2px;
}
.icono-flag:before,
.icono-flag:after {
  position: absolute;
  width: 5px;
  height: 4px;
}
.icono-flag:before {
  left: -1px;
  top: 1px;
  border-radius: 0 2px 0 0;
  border-right-width: 2px;
}
.icono-flag:after {
  width: 3px;
  left: 5px;
  top: 2px;
  border-left-width: 2px;
  border-radius: 2px 2px 0 2px;
}
.icono-file {
  width: 13px;
  height: 16px;
  border-radius: 0 6px 0 0;
  margin: 1px 2px;
}
.icono-file:before {
  position: absolute;
  top: -1px;
  right: -1px;
  border-style: solid;
  width: 0;
  height: 0;
  border-width: 3px;
  border-top-color: transparent;
  border-right-color: transparent;
}
.icono-document {
  width: 13px;
  height: 16px;
  border-radius: 0 0 0 5px;
  margin: 1px 2px;
}
.icono-document:before {
  position: absolute;
  width: 0;
  height: 0;
  left: -2px;
  bottom: -2px;
  border-width: 3px;
  border-style: solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.icono-document:after {
  width: 7px;
  height: 1px;
  box-shadow: inset 0 0 0 16px, 0 -3px 0 0, 0 3px 0 0;
}
.icono-folder {
  width: 9px;
  height: 11px;
  border-left-width: 0;
  border-radius: 0 2px 2px 0;
  margin: 4px 1px 2px 7px;
}
.icono-folder:before {
  position: absolute;
  width: 6px;
  height: 10px;
  left: -6px;
  bottom: -1px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-radius: 0 0 0 2px;
}
.icono-folder:after {
  position: absolute;
  width: 5px;
  height: 3px;
  left: -6px;
  top: -4px;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-radius: 2px 2px 0 0;
}
.icono-pin {
  width: 13px;
  height: 13px;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  margin: 1px 2px 4px;
}
.icono-pin:before {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}
.icono-smile,
.icono-frown,
.icono-meh {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin: 1px;
}
.icono-smile:before,
.icono-frown:before,
.icono-meh:before {
  border-radius: 50%;
  box-shadow: 4px 0 0 0, 0 0 0 1px inset;
  height: 2px;
  width: 2px;
  left: 4px;
  position: absolute;
  top: 27%;
}
.icono-smile:after,
.icono-frown:after,
.icono-meh:after {
  border-radius: 50%;
  transform: translateX(-50%);
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  height: 8px;
  left: 50%;
  position: absolute;
  top: 6%;
  width: 8px;
}
.icono-eye {
  border-radius: 80% 20%;
  transform: rotate(45deg);
  border-width: 1px 1px 1px 1px;
  height: 14px;
  width: 14px;
  margin: 2px 2px;
}
.icono-eye:before {
  border-radius: 50%;
  box-shadow: 0px -2px 0 2px inset;
  height: 6px;
  width: 6px;
}
.icono-sliders {
  height: 15px;
  width: 15px;
  margin: 1px;
}
.icono-sliders:before,
.icono-sliders:after {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.icono-sliders:before {
  width: 4px;
  height: 4px;
  border-radius: 1px;
  top: 67%;
  box-shadow: inset 0 0 0 16px, 5px -5px, -5px -7px;
}
.icono-sliders:after {
  position: absolute;
  width: 1px;
  height: 100%;
  box-shadow: inset 0 0 0 16px, 5px 0, -5px 0;
}
.icono-share {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px, 11px -6px 0 0, 11px 6px 0 0;
  margin: 6px 12px 7px 1px;
}
.icono-share:before,
.icono-share:after {
  position: absolute;
  width: 12px;
  height: 1px;
  box-shadow: inset 0 0 0 16px;
  left: 0;
}
.icono-share:before {
  top: -1px;
  transform: rotate(-25deg);
}
.icono-share:after {
  top: 5px;
  transform: rotate(25deg);
}
.icono-sync {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border-right-color: transparent;
  border-left-color: transparent;
  margin: 2px;
}
.icono-sync:before,
.icono-sync:after {
  position: absolute;
  width: 0;
  height: 0;
  border-width: 3px;
  border-style: solid;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.icono-sync:before {
  transform: rotate(-45deg);
  right: -4px;
  top: 0;
}
.icono-sync:after {
  transform: rotate(135deg);
  left: -4px;
  bottom: 0;
}
.icono-reset {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-left-color: transparent;
  margin: 2px;
}
.icono-reset:before {
  position: absolute;
  width: 0;
  height: 0;
  left: -4px;
  bottom: 0;
  border-width: 3px;
  border-style: solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(135deg);
}
.icono-gear {
  width: 16px;
  height: 16px;
  border: 2px dotted;
  border-radius: 50%;
  margin: 1px;
}
.icono-gear:before {
  width: 11px;
  height: 11px;
  box-shadow: 0 0 0 2px, 0 0 0 1px inset;
  border-radius: 50%;
  border: 3px solid transparent;
  box-sizing: border-box;
}
.icono-signIn {
  width: 9px;
  height: 16px;
  border-left: none;
  margin-left: 3px;
  border-radius: 0 2px 2px 0;
  margin: 1px 4px;
}
.icono-signIn:before {
  position: absolute;
  width: 6px;
  height: 6px;
  left: -5px;
  top: 4px;
  border-bottom: none;
  border-left: none;
  transform: rotate(45deg);
  border-radius: 0 2px 0 0;
}
.icono-signOut {
  width: 9px;
  height: 16px;
  border-right: none;
  margin-right: 3px;
  border-radius: 2px 0 0 2px;
  margin: 1px 4px;
}
.icono-signOut:before {
  position: absolute;
  width: 6px;
  height: 6px;
  right: -1px;
  top: 4px;
  border-bottom: none;
  border-left: none;
  transform: rotate(45deg);
  border-radius: 0 2px 0 0;
}
.icono-support {
  width: 13px;
  height: 13px;
  border: 3px solid transparent;
  box-shadow: 0 0 0 1px inset, 0 0 0 1px;
  border-radius: 50%;
  margin: 2px;
}
.icono-support:before {
  position: absolute;
  width: 4px;
  height: 4px;
  top: -2px;
  left: -2px;
  transform: rotate(45deg);
  box-shadow: inset 0 0 0 16px, 11px 0 0 0;
}
.icono-support:after {
  position: absolute;
  width: 4px;
  height: 4px;
  top: -2px;
  right: -2px;
  transform: rotate(135deg);
  box-shadow: inset 0 0 0 16px, 11px 0 0 0;
}
.icono-dropper {
  width: 20px;
  height: 7px;
  border-width: 2px;
  border-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  box-shadow: -5px 0 0 1px inset, 0 0 0 1px inset;
  border-radius: 50% 3px 3px 50%;
  transform: rotate(-45deg);
  margin: 6px -1px 4px -2px;
}
.icono-dropper:before {
  width: 2px;
  height: 7px;
  right: 5px;
  box-shadow: inset 0 0 0 16px;
}
.icono-tiles {
  width: 2px;
  height: 2px;
  box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, 0 0 0 16px inset, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0;
  margin: 8px;
}
.icono-list {
  width: 2px;
  height: 2px;
  box-shadow: inset 0 0 0 16px, 0 -4px 0 0, 0 4px 0 0;
  margin: 8px 13px 8px 2px;
}
.icono-list:before {
  width: 9px;
  height: 2px;
  left: 4px;
  box-shadow: inset 0 0 0 16px, 0 -4px 0 0, 0 4px 0 0;
}
.icono-chain {
  width: 8px;
  height: 1px;
  box-shadow: inset 0 0 0 16px;
  transform: rotate(-45deg);
  margin: 8px 5px;
}
.icono-chain:before,
.icono-chain:after {
  width: 6px;
  height: 4px;
  border-radius: 2px;
}
.icono-chain:before {
  right: -5px;
}
.icono-chain:after {
  left: -5px;
}
.icono-youtube {
  border-right-color: transparent;
  border-left-color: transparent;
  border-radius: 5px;
  width: 16px;
  height: 11px;
  margin: 3px 1px;
}
.icono-youtube:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 3px / 2px;
}
.icono-youtube:after {
  width: 0;
  height: 0;
  border-width: 2px 0 2px 4px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.icono-rename {
  width: 13px;
  height: 5px;
  border-color: transparent;
  border-width: 2px;
  box-shadow: 0 0 0 1px, 6px 0 0 0 inset;
  margin: 6px 2px;
}
.icono-rename:before {
  width: 1px;
  height: 9px;
  left: 5px;
  border-width: 1px 2px;
  border-style: solid;
  border-right-color: transparent;
  border-left-color: transparent;
  box-shadow: 0 0 0 1px inset;
}
.icono-search {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  transform: rotate(45deg);
  margin: 2px 2px 4px 4px;
}
.icono-search:before {
  width: 2px;
  height: 6px;
  box-shadow: inset 0 0 0 16px;
  top: 10px;
  border-radius: 0 0 1px 1px;
}
.icono-book {
  width: 13px;
  height: 11px;
  border-radius: 0 0 0 3px;
  border-top: none;
  margin: 5px 2px 1px;
}
.icono-book:before {
  position: absolute;
  width: 12px;
  height: 4px;
  box-sizing: border-box;
  border-top: none;
  border-right: none;
  left: -1px;
  top: -3px;
  border-radius: 0 0 0 3px;
}
.icono-book:after {
  position: absolute;
  width: 12px;
  height: 4px;
  box-sizing: border-box;
  left: -1px;
  top: -4px;
  border-bottom: none;
  border-radius: 3px 0 0 0;
}
.icono-forbidden {
  width: 14px;
  height: 14px;
  border-width: 2px;
  border-radius: 50%;
  margin: 2px;
  transform: rotate(45deg);
}
.icono-forbidden:before {
  width: 12px;
  height: 2px;
  box-shadow: inset 0 0 0 16px;
}
.icono-trash {
  width: 11px;
  height: 11px;
  border-radius: 0 0 2px 2px;
  border-top: none;
  margin: 5px 3px 2px;
}
.icono-trash:before {
  width: 4px;
  height: 1px;
  top: -3px;
  box-shadow: inset 0 0 0 16px, -5px 1px 0 0, -3px 1px 0 0, 0 1px 0 0, 3px 1px 0 0, 5px 1px 0 0;
}
.icono-keyboard {
  width: 16px;
  height: 11px;
  border-radius: 2px;
  margin: 3px 1px;
}
.icono-keyboard:before {
  width: 1px;
  height: 1px;
  box-shadow: -1px -2px 0, -3px -2px 0, -5px -2px 0, 1px -2px 0, 3px -2px 0, 4px -2px 0, 5px -2px 0, -2px 0 0, -4px 0 0, -5px 0 0, inset 0 0 0 16px, 2px 0 0, 4px 0 0, 5px 0 0, 2px 2px 0, 1px 2px 0, 0 2px 0, -1px 2px 0, -3px 2px 0, -5px 2px 0, 3px 2px 0, 5px 2px 0;
}
.icono-mouse {
  width: 12px;
  height: 16px;
  border-radius: 6px 6px 6px 6px;
  margin: 1px 3px 1px 3px;
}
.icono-mouse:before {
  width: 1px;
  height: 3px;
  border-radius: 1px;
  border-color: transparent;
  border-width: 1px;
  top: 3px;
  box-shadow: 0 0 0 1px, 0 0 0 1px inset;
}
.icono-mouse:after {
  width: 1px;
  height: 2px;
  top: 0;
  box-shadow: inset 0 0 0 16px, 0 7px 0 0;
}
.icono-user {
  width: 16px;
  height: 7px;
  border-radius: 32px 32px 0 0 / 32px;
  margin: 9px 1px 1px;
}
.icono-user:before {
  width: 6px;
  height: 6px;
  top: -10px;
  border-radius: 50%;
}
.icono-crop {
  width: 11px;
  height: 11px;
  border-left: none;
  border-bottom: none;
  margin: 5px 5px 2px 2px;
}
.icono-crop:before {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -4px;
  right: -4px;
  border-top: none;
  border-right: none;
  box-sizing: border-box;
}
.icono-crop:after {
  position: absolute;
  width: 14px;
  height: 1px;
  left: 1px;
  top: 2px;
  box-shadow: inset 0 0 0 16px;
  transform: rotate(-45deg);
}
.icono-display {
  width: 13px;
  height: 11px;
  margin: 2px 2px 4px;
}
.icono-display:before {
  width: 2px;
  height: 2px;
  bottom: -3px;
  box-shadow: inset 0 0 0 16px;
}
.icono-display:after {
  width: 7px;
  height: 1px;
  bottom: -3px;
  box-shadow: inset 0 0 0 16px;
}
.icono-imac {
  width: 14px;
  height: 12px;
  border-width: 1px 1px 3px;
  border-color: transparent;
  border-radius: 2px;
  box-shadow: 0 0 0 1px, 0 0 0 1px inset;
  margin: 2px 2px 4px;
}
.icono-imac:before {
  position: absolute;
  height: 2px;
  right: -2px;
  left: -2px;
  bottom: -3px;
  box-shadow: inset 0 0 0 16px;
  border-radius: 0 0 2px 2px;
}
.icono-imac:after {
  width: 5px;
  height: 4px;
  box-shadow: inset 0 0 0 16px;
  bottom: -6px;
  border-radius: 16px 16px 0 0 / 32px;
}
.icono-imacBold {
  width: 14px;
  height: 11px;
  border-radius: 2px;
  margin: 2px 2px 4px;
}
.icono-imacBold:before {
  width: 5px;
  height: 4px;
  box-shadow: inset 0 0 0 16px;
  bottom: -3px;
  border-radius: 16px 16px 0 0 / 32px;
}
.icono-imacBold:after {
  width: 12px;
  height: 2px;
  box-shadow: inset 0 0 0 16px;
  bottom: 0;
}
.icono-iphone {
  width: 10px;
  height: 16px;
  border-radius: 2px;
  border-width: 3px 1px;
  border-color: transparent;
  box-shadow: 0 0 0 1px, 0 0 0 1px inset;
  margin: 1px 4px 1px 4px;
}
.icono-iphone:before,
.icono-iphone:after {
  box-shadow: inset 0 0 0 16px;
}
.icono-iphone:before {
  width: 2px;
  height: 1px;
  top: -2px;
}
.icono-iphone:after {
  width: 2px;
  height: 2px;
  bottom: -2px;
  border-radius: 50%;
}
.icono-iphoneBold {
  width: 10px;
  height: 16px;
  margin: 1px 4px;
  border-radius: 2px;
  border-width: 3px 1px;
}
.icono-macbook {
  width: 16px;
  height: 1px;
  box-shadow: inset 0 0 0 16px;
  border-radius: 0 0 16px 16px / 2px;
  margin: 13px 1px 4px 1px;
}
.icono-macbook:before {
  width: 10px;
  height: 7px;
  bottom: 1px;
  border-width: 2px 1px 1px 1px;
  border-color: transparent;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 0 0 1px, 0 0 0 1px inset;
}
.icono-macbookBold {
  width: 16px;
  height: 1px;
  box-shadow: inset 0 0 0 16px;
  margin: 13px 1px 4px 1px;
}
.icono-macbookBold:before {
  width: 10px;
  height: 7px;
  bottom: 1px;
  border-width: 2px 1px 1px;
  border-radius: 2px 2px 0 0;
}
.icono-image {
  width: 15px;
  height: 13px;
  border-radius: 2px;
  overflow: hidden;
  margin: 2px 1px;
}
.icono-image:before {
  position: absolute;
  width: 10px;
  height: 10px;
  left: -1px;
  top: 7px;
  transform: rotate(45deg);
  box-shadow: inset 0 0 0 16px, 5px -3px 0 0;
}
.icono-image:after {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px;
  top: 3px;
  right: 3px;
}
.icono-headphone {
  width: 15px;
  height: 14px;
  border-bottom-color: transparent;
  border-radius: 16px / 16px 16px 8px 8px;
  margin: 1px 1px 3px;
}
.icono-headphone:before {
  position: absolute;
  width: 2px;
  height: 6px;
  left: 1px;
  bottom: -2px;
  border-radius: 3px;
  box-shadow: inset 0 0 0 16px, 10px 0 0 0;
}
.icono-music {
  width: 9px;
  height: 3px;
  transform: skewY(-15deg);
  box-shadow: inset 0 0 0 16px;
  border-radius: 1px 1px 0 0;
  margin: 2px 3px 12px 6px;
}
.icono-music:before {
  position: absolute;
  width: 1px;
  height: 8px;
  left: 0;
  top: 2px;
  box-shadow: inset 0 0 0 16px, 8px 0 0 0;
}
.icono-music:after {
  position: absolute;
  width: 5px;
  height: 4px;
  left: -4px;
  top: 9px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px, 8px 0 0 0;
}
.icono-video {
  width: 10px;
  height: 10px;
  margin: 4px 4px;
}
.icono-video:before {
  width: 2px;
  height: 2px;
  left: -4px;
  box-shadow: inset 0 0 0 16px, 0 -4px 0 0, 0 4px 0 0, 15px 0 0 0, 15px -4px 0 0, 15px 4px 0 0;
}
.icono-video:after {
  width: 0;
  height: 0;
  border-width: 2px 0 2px 3px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.icono-nexus {
  width: 11px;
  height: 16px;
  border-width: 2px 1px;
  border-radius: 8px / 2px;
  margin: 1px 4px 1px 3px;
}
.icono-microphone {
  width: 11px;
  height: 8px;
  border-width: 0 1px 1px;
  border-radius: 10px / 0 0 10px 10px;
  margin: 6px 3px 4px;
}
.icono-microphone:before {
  width: 5px;
  height: 9px;
  top: -6px;
  border-radius: 10px;
}
.icono-microphone:after {
  width: 1px;
  height: 1px;
  bottom: -2px;
  box-shadow: inset 0 0 0 16px, 0 1px, 0 2px, -1px 2px, -2px 2px, -3px 2px, 1px 2px, 2px 2px, 3px 2px;
}
.icono-asterisk,
.icono-asterisk:before,
.icono-asterisk:after {
  width: 2px;
  height: 10px;
  box-shadow: inset 0 0 0 16px;
  border-radius: 1px;
  margin: 4px 8px;
}
.icono-asterisk:before,
.icono-asterisk:after {
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
}
.icono-asterisk:before {
  transform: rotate(-58deg);
}
.icono-asterisk:after {
  transform: rotate(58deg);
}
.icono-terminal {
  width: 14px;
  height: 12px;
  margin: 3px 2px;
}
.icono-terminal:before {
  width: 3px;
  height: 3px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: 2px;
  border-width: 1px 1px 0 0;
  border-style: solid;
}
.icono-terminal:after {
  position: absolute;
  width: 3px;
  height: 0;
  border-bottom: 1px solid;
  right: 3px;
  bottom: 2px;
}
.icono-paperClip {
  width: 12px;
  height: 9px;
  border-left: none;
  border-radius: 0 8px 8px 0;
  transform: rotate(-45deg);
  margin: 3px 0 6px 5px;
}
.icono-paperClip:before {
  width: 9px;
  height: 3px;
  right: 1px;
  border-radius: 0 8px 8px 0;
  border-left: none;
}
.icono-paperClip:after {
  position: absolute;
  width: 6px;
  height: 5px;
  left: -6px;
  top: -1px;
  border-right: none;
  border-radius: 8px 0 0 8px;
}
.icono-market {
  width: 16px;
  height: 6px;
  border-top: none;
  margin: 10px 1px 2px;
}
.icono-market:before {
  width: 3px;
  height: 7px;
  position: absolute;
  top: -8px;
  left: -3px;
  border-radius: 0 0 5px 5px;
  border-left: none;
  box-shadow: inset 0 0 0 16px, 4px 0 0, 8px 0 0, 12px 0 0, 16px 0 0;
}
.icono-market:after {
  width: 3px;
  height: 3px;
  bottom: -1px;
}
.icono-clock {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  margin: 2px;
}
.icono-clock:before,
.icono-clock:after {
  top: 35%;
  box-shadow: inset 0 0 0 16px;
  border-radius: 1px;
}
.icono-clock:before {
  width: 1px;
  height: 5px;
}
.icono-clock:after {
  width: 3px;
  height: 1px;
  transform-origin: left center;
  transform: rotate(45deg) translate(1px, 1px);
}
[class*="icono-textAlign"] {
  width: 14px;
  height: 11px;
  margin: 3px 2px;
}
[class*="icono-textAlign"]:before,
[class*="icono-textAlign"]:after {
  position: absolute;
  height: 1px;
  box-shadow: inset 0 0 0 16px, 0 4px 0 0, 0 8px 0 0;
  right: 0;
}
[class*="icono-textAlign"]:before {
  width: 14px;
  top: 0;
}
[class*="icono-textAlign"]:after {
  width: 9px;
  top: 2px;
}
[class*="icono-textAlign"].icono-textAlignLeft:before,
[class*="icono-textAlign"].icono-textAlignLeft:after {
  left: 0;
}
[class*="icono-exclamation"] {
  overflow: visible;
  width: 15px;
  border-bottom: 1px solid;
  border-radius: 0 0 2px 2px;
  margin: 13px 1px 3px;
}
[class*="icono-exclamation"]:before {
  position: absolute;
  width: 13px;
  height: 13px;
  left: 1px;
  top: -7px;
  border-width: 1px 0 0 1px;
  border-style: solid;
  border-radius: 2px 0;
  transform: rotate(45deg) skew(12deg, 12deg);
}
[class*="icono-exclamation"]:after {
  width: 2px;
  height: 2px;
  top: -7px;
  box-shadow: inset 0 0 0 16px, 0 2px, 0 4px;
}
[class*="icono-exclamation"][class*="Circle"] {
  margin: 1px;
}
[class*="icono-exclamation"][class*="Circle"]:before {
  display: none;
}
[class*="icono-exclamation"][class*="Circle"]:after {
  box-shadow: inset 0 0 0 16px, 0 2px, 0 3px, 0 5px;
  top: 3px;
}
.icono-frown:after {
  transform: translateX(-50%) rotate(180deg);
  transform-origin: center 85%;
}
.icono-meh:after {
  top: 0;
  width: 6px;
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
}
.icono-indent,
.icono-outdent {
  width: 10px;
  height: 8px;
  border-width: 2px 0 2px 4px;
  border-style: solid;
  border-color: transparent;
  box-shadow: 0 -1px, 0 1px, inset 0 1px, inset 0 -1px;
  margin: 5px 4px;
}
.icono-indent:before,
.icono-outdent:before {
  left: -4px;
  border: 3px solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-right-width: 0;
}
.icono-outdent:before {
  border-left-width: 0;
  border-right-width: 3px;
}
.icono-locationArrow {
  width: 16px;
  height: 16px;
  margin: 1px;
}
.icono-locationArrow:before {
  position: absolute;
  left: 4px;
  top: 8px;
  border-width: 3px 0 3px 3px;
  border-style: solid;
  border-left-color: transparent;
  transform: rotate(-45deg);
}
.icono-locationArrow:after {
  position: absolute;
  top: 5px;
  left: 1px;
  border-width: 5px;
  border-style: solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: skew(-30deg, -30deg);
}
.icono-commentEmpty {
  width: 15px;
  height: 11px;
  border-radius: 2px 2px 4px 4px;
  border-bottom-color: transparent;
  margin: 3px 1px 4px;
}
.icono-commentEmpty:before {
  position: absolute;
  width: 3px;
  height: 3px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  transform: rotate(-45deg);
  bottom: -2px;
  left: 3px;
}
.icono-commentEmpty:after {
  position: absolute;
  width: 4px;
  height: 1px;
  border-width: 0 6px 0 3px;
  border-style: solid;
  bottom: 0;
  left: 0;
}
.icono-comment {
  width: 15px;
  height: 10px;
  box-shadow: inset 0 0 0 16px;
  border-radius: 2px;
  margin: 3px 1px 5px;
}
.icono-comment:before {
  position: absolute;
  width: 4px;
  height: 4px;
  box-shadow: inset 0 0 0 16px;
  transform: rotate(-45deg);
  bottom: -2px;
  left: 3px;
}
.icono-areaChart,
.icono-barChart {
  width: 15px;
  height: 11px;
  border-top-width: 0;
  border-right-width: 0;
  border-color: transparent;
  box-shadow: -1px 1px;
  overflow: hidden;
  margin: 2px 0 4px 2px;
}
.icono-areaChart:before {
  position: absolute;
  left: 0;
  bottom: 4px;
  border: 3px solid transparent;
  border-bottom-color: currentColor;
  box-shadow: 0 4px;
}
.icono-areaChart:after {
  position: absolute;
  left: 6px;
  bottom: 2px;
  border-width: 0 3px 7px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: currentColor;
  box-shadow: 0 2px;
}
.icono-barChart {
  border-color: transparent;
  box-shadow: -1px 1px;
  margin: 2px 0 4px 2px;
}
.icono-barChart:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 2px;
  height: 8px;
  box-shadow: inset 0 -4px 0 0, 3px 0, 6px 4px, 9px 3px;
}
.icono-pieChart {
  width: 0;
  height: 0;
  border: 8px solid;
  border-right-color: transparent;
  border-radius: 50%;
  transform: rotate(-45deg);
  margin: 1px;
}
.icono-pieChart:before {
  position: absolute;
  width: 0;
  height: 0;
  left: -6px;
  top: -7px;
  border: 7px solid;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-radius: 50%;
}
.icono-bookmark {
  width: 0;
  height: 0;
  border: 5px solid;
  border-bottom-color: transparent;
  box-shadow: 0 -2px;
  border-radius: 2px 2px 0 0;
  margin: 5px 4px 3px;
}
.icono-bookmarkEmpty {
  width: 9px;
  height: 11px;
  border-bottom: none;
  border-radius: 2px 2px 1px 1px;
  overflow: hidden;
  margin: 3px 4px;
}
.icono-bookmarkEmpty:before {
  position: absolute;
  width: 6px;
  height: 6px;
  bottom: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
  transform: rotate(45deg) translate(35%, 35%);
}
.icono-filter {
  width: 0;
  height: 0;
  border: 5px solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  padding: 2px;
  box-shadow: inset 0 4px;
  margin: 5px 2px;
}
.icono-volume,
.icono-volumeLow,
.icono-volumeDecrease,
.icono-volumeMedium,
.icono-volumeIncrease,
.icono-volumeHigh,
.icono-volumeMute {
  width: 0;
  height: 0;
  border: 4px solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  padding: 3px 2px;
  box-shadow: inset 2px 0;
  margin: 2px 5px 2px 6px;
}
.icono-volumeLow,
.icono-volumeMedium,
.icono-volumeHigh {
  margin: 2px 7px 2px 4px;
}
.icono-volumeLow:before,
.icono-volumeMedium:before,
.icono-volumeHigh:after,
.icono-volumeHigh:before {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  left: 1px;
}
.icono-volumeMedium,
.icono-volumeHigh {
  margin: 2px 8px 2px 3px;
}
.icono-volumeMedium:before,
.icono-volumeHigh:before {
  border-style: double;
  border-width: 3px;
  left: -1px;
}
.icono-volumeHigh {
  margin: 2px 9px 2px 2px;
}
.icono-volumeHigh:after {
  width: 16px;
  height: 16px;
  left: -4px;
}
.icono-volumeDecrease,
.icono-volumeIncrease,
.icono-volumeMute {
  margin: 2px 8px 2px 3px;
}
.icono-volumeDecrease:before,
.icono-volumeDecrease:after,
.icono-volumeIncrease:before,
.icono-volumeIncrease:after,
.icono-volumeMute:before,
.icono-volumeMute:after {
  box-shadow: inset 0 0 0 16px;
}
.icono-volumeDecrease:before,
.icono-volumeIncrease:before,
.icono-volumeMute:before {
  width: 5px;
  height: 1px;
  left: 9px;
}
.icono-volumeIncrease:after,
.icono-volumeMute:after {
  height: 5px;
  width: 1px;
  left: 11px;
}
.icono-volumeMute:after,
.icono-volumeMute:before {
  transform: translateY(-50%) rotate(45deg);
}
.icono-tag {
  width: 9px;
  height: 12px;
  border-radius: 3px 3px 2px 2px;
  border-top: none;
  transform: rotate(45deg);
  margin: 3px 4px;
}
.icono-tag:before {
  position: absolute;
  top: -2px;
  left: 1px;
  width: 5px;
  height: 5px;
  border-width: 1px 0 0 1px;
  border-style: solid;
  transform: rotate(45deg);
  border-radius: 3px 0 0 0;
}
.icono-tag:after {
  top: 1px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
}
.icono-calendar {
  width: 16px;
  height: 14px;
  border-width: 2px 1px 1px;
  border-style: solid;
  border-radius: 2px;
  margin: 3px 1px 1px;
}
.icono-calendar:before {
  position: absolute;
  width: 2px;
  height: 2px;
  top: 2px;
  left: 2px;
  box-shadow: inset 0 0 0 16px, 3px 0, 6px 0, 9px 0, 0 3px, 3px 3px, 6px 3px, 9px 3px, 0 6px, 3px 6px, 6px 6px, 9px 6px;
}
.icono-calendar:after {
  position: absolute;
  width: 2px;
  height: 4px;
  box-shadow: inset 0 0 0 16px, 8px 0;
  border-radius: 2px;
  top: -4px;
  left: 2px;
}
.icono-camera {
  width: 16px;
  height: 12px;
  border-radius: 2px;
  margin: 3px 1px;
}
.icono-camera:before {
  width: 5px;
  height: 5px;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0 1px, 0 0 0 1px;
  border-radius: 50%;
}
.icono-camera:after {
  position: absolute;
  width: 2px;
  height: 1px;
  right: 1px;
  top: 1px;
  box-shadow: inset 0 0 0 16px;
}
.icono-piano {
  width: 16px;
  height: 11px;
  margin: 3px 1px;
}
.icono-piano:before {
  position: absolute;
  left: 2px;
  top: 0;
  width: 1px;
  height: 100%;
  box-shadow: -1px 0, 2px 0, 4px 0, 6px 0, 8px 0, 10px 0;
}
.icono-piano:after {
  position: absolute;
  width: 2px;
  height: 7px;
  left: 2px;
  top: 0;
  box-shadow: inset 1px 0, inset -1px 0, -1px 0, 1px 0, 5px 0, 7px 0, 9px 0;
}
.icono-ruler {
  width: 14px;
  height: 6px;
  margin: 6px 2px 6px 2px;
}
.icono-ruler:before {
  position: absolute;
  width: 1px;
  height: 2px;
  box-shadow: inset 0 0 0 16px, 3px 0, 6px 0;
  left: 3px;
  top: 0;
}
.icono-ruler:after {
  position: absolute;
  width: 1px;
  height: 1px;
  box-shadow: inset 0 0 0 16px, 1px 0, 3px 0, 4px 0, 6px 0, 7px 0, 9px 0, 10px 0;
  left: 1px;
  top: 0;
}
.icono-facebook {
  width: 5px;
  height: 13px;
  box-shadow: inset 1px 2px 0 0;
  border-left: 2px solid;
  border-radius: 3px 0 0 0;
  margin: 2px 6px 2px 7px;
}
.icono-facebook:before {
  position: absolute;
  top: 5px;
  left: -3px;
  width: 6px;
  height: 0;
  border-top: 2px solid;
  border-right: 1px solid transparent;
}
.icono-twitter {
  width: 7px;
  height: 12px;
  border-radius: 0 0 0 4px;
  box-shadow: -3px 1px 0 0;
  margin: 2px 4px 4px 7px;
}
.icono-twitter:before {
  position: absolute;
  bottom: -1px;
  left: -3px;
  width: 9px;
  height: 3px;
  border-radius: 0 0 0 4px;
  box-shadow: inset 2px -3px, 0 -6px;
}
.icono-twitter:after {
  position: absolute;
  width: 3px;
  height: 3px;
  box-shadow: inset 0 0 0 16px, 7px 4px, 7px 10px;
  border-radius: 50%;
  left: -3px;
}
.icono-gplus {
  width: 5px;
  height: 1px;
  box-shadow: inset 0 0 0 16px;
  margin: 7px 2px 9px 10px;
}
.icono-gplus:before {
  position: absolute;
  top: -3px;
  right: 5px;
  content: "g" !important;
  font-family: georgia;
  font-size: 16px;
  text-indent: 0;
  line-height: 0;
}
.icono-gplus:after {
  width: 1px;
  height: 5px;
  box-shadow: inset 0 0 0 16px;
}
.icono-linkedIn {
  width: 3px;
  height: 8px;
  box-shadow: inset 0 0 0 16px, 4px 0;
  margin: 6px 12px 3px 3px;
}
.icono-linkedIn:before {
  position: absolute;
  width: 3px;
  height: 3px;
  box-shadow: inset 0 0 0 16px;
  top: -4px;
  left: 0;
  border-radius: 50%;
}
.icono-linkedIn:after {
  position: absolute;
  width: 6px;
  height: 8px;
  border-right: 1px solid;
  left: 6px;
  bottom: 0;
  border-radius: 4px 3px 0 0 / 6px 3px 0 0;
  box-shadow: inset -2px 2px;
}
.icono-instagram {
  width: 13px;
  height: 13px;
  box-shadow: inset 0 0 0 1px;
  border-radius: 2px;
  margin: 2px;
}
.icono-instagram:before {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px;
}
.icono-instagram:after {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 1px;
  right: 2px;
  top: 2px;
  box-shadow: 0 0 0 1px, 1px 1px 0 1px, -3px -1px 0 1px, -5px -1px 0 1px, -8px 1px 0 1px;
}
.icono-flickr {
  width: 12px;
  height: 12px;
  overflow: hidden;
  border-radius: 2px;
  margin: 3px;
}
.icono-flickr:before,
.icono-flickr:after {
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
.icono-flickr:before {
  left: 2px;
  box-shadow: 0 0 0 1px, 0 -5px 0 3px, 0 5px 0 3px, -2px 0 0 2px;
}
.icono-flickr:after {
  right: 2px;
  box-shadow: 0 0 0 1px, 0 -5px 0 3px, 0 5px 0 3px, 2px 0 0 2px;
}
.icono-delicious {
  width: 12px;
  height: 12px;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px;
  margin: 3px;
}
.icono-delicious:before {
  position: absolute;
  width: 6px;
  height: 6px;
  box-shadow: inset 0 0 0 16px, 6px -6px 0 0;
  left: 0;
  bottom: 0;
}
.icono-codepen {
  width: 1px;
  height: 5px;
  box-shadow: inset 0 0 0 16px, 0 8px, -6px 4px, 6px 4px;
  margin: 2px 8px 10px;
}
.icono-codepen:before {
  position: absolute;
  right: 1px;
  top: 2px;
  width: 6px;
  height: 2px;
  transform: skew(0, -35deg) scaleY(0.6);
  box-shadow: inset 0 0 0 16px, 0 7px, 6px 13px, 6px 20px;
}
.icono-codepen:after {
  position: absolute;
  left: 1px;
  top: 2px;
  width: 6px;
  height: 2px;
  transform: skew(0, 35deg) scaleY(0.6);
  box-shadow: inset 0 0 0 16px, 0 7px, -6px 13px, -6px 20px;
}
.icono-blogger {
  width: 12px;
  height: 7px;
  border-radius: 0 0 4px 4px;
  margin: 7px 3px 3px;
}
.icono-blogger,
.icono-blogger:before {
  border-width: 3px;
  border-style: solid;
}
.icono-blogger:before {
  position: absolute;
  width: 4px;
  height: 1px;
  left: -3px;
  top: -8px;
  border-radius: 3px 3px 0 0;
}
.icono-disqus {
  width: 16px;
  height: 16px;
  box-shadow: inset 0 0 0 16px;
  border-radius: 50%;
  margin: 1px 1px 1px 1px;
}
.icono-disqus:before {
  position: absolute;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-top: 5px solid;
  transform: rotate(50deg);
  left: -3px;
  top: 10px;
}
.icono-dribbble {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px;
  overflow: hidden;
  position: relative;
  background-image: radial-gradient(50% 100%, transparent 0, transparent 5px, currentColor 5px, currentColor 6px, transparent 6px);
  background-repeat: no-repeat;
  background-position: -4px center;
  transform: rotate(-25deg);
  margin: 2px;
}
.icono-dribbble:after,
.icono-dribbble:before {
  position: absolute;
  border-radius: 50%;
  border: 1px solid;
  width: 20px;
  height: 15px;
}
.icono-dribbble:after {
  top: 7px;
  left: -4px;
  width: 16px;
}
.icono-dribbble:before {
  left: -3px;
  top: -12px;
}
.icono-creditCard {
  width: 16px;
  height: 12px;
  border-radius: 2px;
  margin: 3px 1px;
}
.icono-creditCard:before {
  position: absolute;
  top: 2px;
  width: 100%;
  height: 3px;
  box-shadow: inset 0 0 0 16px;
}
.icono-creditCard:after {
  left: 2px;
  bottom: 2px;
  position: absolute;
  width: 2px;
  height: 1px;
  box-shadow: inset 0 0 0 16px, 3px 0;
}
.icono-cup {
  width: 11px;
  height: 8px;
  box-shadow: inset 0 0 0 16px;
  border-radius: 0 0 3px 3px;
  margin: 3px 3px 6px;
}
.icono-cup:before {
  position: absolute;
  right: -2px;
  top: 2px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px;
}
.icono-cup:after {
  bottom: -3px;
  width: 13px;
  height: 2px;
  border-radius: 0 0 2px 2px;
  box-shadow: inset 0 0 0 16px;
}
.icono-play {
  width: 0;
  height: 0;
  border-width: 5px 0 5px 8px;
  border-style: solid;
  border-top-color: transparent;
  border-bottom-color: transparent;
  margin: 4px 5px;
}
.icono-pause {
  width: 3px;
  height: 10px;
  margin: 4px 10px 4px 4px;
  box-shadow: inset 0 0 0 16px, 6px 0 0 0;
}
.icono-stop {
  width: 0;
  height: 0;
  border: solid 5px;
  margin: 4px;
}
.icono-forward,
.icono-rewind {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 5px solid;
  margin: 4px;
}
.icono-forward:before,
.icono-rewind:before {
  position: absolute;
  left: 0;
  top: -5px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 5px solid;
}
.icono-rewind {
  transform: rotate(180deg);
}
.icono-next,
.icono-previous {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 5px solid;
  border-right: none;
  margin: 4px 7px 4px 5px;
  box-shadow: 2px 0;
}
.icono-previous {
  transform: rotate(180deg);
  margin: 4px 5px 4px 7px;
}
.icono-caretRight,
.icono-caretRightCircle,
.icono-caretRightSquare,
.icono-caretLeft,
.icono-caretUp,
.icono-caretDown,
.icono-caretLeftCircle,
.icono-caretLeftSquare,
.icono-caretUpCircle,
.icono-caretUpSquare,
.icono-caretDownCircle,
.icono-caretDownSquare {
  width: 6px;
  height: 10px;
  margin: 4px 6px;
}
.icono-caretRight:before,
.icono-caretRight:after,
.icono-caretRightCircle:before,
.icono-caretRightCircle:after,
.icono-caretRightSquare:before,
.icono-caretRightSquare:after,
.icono-caretLeft:before,
.icono-caretLeft:after,
.icono-caretUp:before,
.icono-caretUp:after,
.icono-caretDown:before,
.icono-caretDown:after,
.icono-caretLeftCircle:before,
.icono-caretLeftCircle:after,
.icono-caretLeftSquare:before,
.icono-caretLeftSquare:after,
.icono-caretUpCircle:before,
.icono-caretUpCircle:after,
.icono-caretUpSquare:before,
.icono-caretUpSquare:after,
.icono-caretDownCircle:before,
.icono-caretDownCircle:after,
.icono-caretDownSquare:before,
.icono-caretDownSquare:after {
  width: 7px;
  height: 1px;
  position: absolute;
  bottom: 0;
  margin: auto 0;
  right: 1px;
  box-shadow: inset 0 0 0 16px;
  transform-origin: right;
}
.icono-caretRight:before,
.icono-caretRightCircle:before,
.icono-caretRightSquare:before,
.icono-caretLeft:before,
.icono-caretUp:before,
.icono-caretDown:before,
.icono-caretLeftCircle:before,
.icono-caretLeftSquare:before,
.icono-caretUpCircle:before,
.icono-caretUpSquare:before,
.icono-caretDownCircle:before,
.icono-caretDownSquare:before {
  top: 1px;
  transform: rotate(45deg);
}
.icono-caretRight:after,
.icono-caretRightCircle:after,
.icono-caretRightSquare:after,
.icono-caretLeft:after,
.icono-caretUp:after,
.icono-caretDown:after,
.icono-caretLeftCircle:after,
.icono-caretLeftSquare:after,
.icono-caretUpCircle:after,
.icono-caretUpSquare:after,
.icono-caretDownCircle:after,
.icono-caretDownSquare:after {
  top: 0;
  transform: rotate(-45deg);
}
.icono-caretLeft,
.icono-caretLeftCircle,
.icono-caretLeftSquare {
  transform: rotate(180deg);
}
.icono-caretUp,
.icono-caretUpCircle,
.icono-caretUpSquare {
  transform: rotate(-90deg);
}
.icono-caretDown,
.icono-caretDownCircle,
.icono-caretDownSquare {
  transform: rotate(90deg);
}
[class*="icono-caret"][class*="Circle"]:before,
[class*="icono-caret"][class*="Square"]:before,
[class*="icono-caret"][class*="Circle"]:after,
[class*="icono-caret"][class*="Square"]:after {
  width: 6px;
  right: 4px;
}
.icono-rightArrow,
.icono-leftArrow,
.icono-upArrow,
.icono-downArrow {
  width: 8px;
  height: 2px;
  margin: 8px 5px;
  box-shadow: inset 0 0 0 1px;
  transform: translateX(-2px);
}
.icono-rightArrow:before,
.icono-leftArrow:before,
.icono-upArrow:before,
.icono-downArrow:before {
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-color: transparent;
  border-left-color: inherit;
  left: 100%;
  right: auto;
}
.icono-leftArrow {
  transform: translateX(2px) rotate(180deg);
}
.icono-upArrow {
  transform: translateY(2px) rotate(-90deg);
}
.icono-downArrow {
  transform: translateY(-2px) rotate(90deg);
}
.icono-sun {
  width: 11px;
  height: 11px;
  border: 1px solid;
  border-radius: 50%;
  box-shadow: -8px 0 0 -5px, 8px 0 0 -5px, 0 -8px 0 -5px, 0 8px 0 -5px, 6px 6px 0 -5px, -6px -6px 0 -5px, 6px -6px 0 -5px, -6px 6px 0 -5px;
  margin: 3px;
}
.icono-moon {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  overflow: hidden;
  margin: 3px;
}
.icono-moon:before {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -1px;
  left: 3px;
  border-radius: 50%;
  box-shadow: 0 0 0 16px;
}
.icono-cart {
  width: 11px;
  height: 0;
  border-width: 7px 3px 0 1px;
  border-style: solid;
  border-right-color: transparent;
  border-left-color: transparent;
  margin: 5px 2px 6px 5px;
}
.icono-cart:before {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px, 7px 0, -2px -10px 0 1px;
  top: 1px;
  left: -2px;
}
.icono-sitemap {
  width: 12px;
  height: 1px;
  box-shadow: 0 -3px;
  margin: 11px 3px 6px;
}
.icono-sitemap:before {
  width: 3px;
  height: 3px;
  border-radius: 1px;
  box-shadow: inset 0 0 0 16px, 6px 0, -6px 0, 0 -7px 0 1px;
}
.icono-sitemap:after {
  width: 1px;
  height: 5px;
  box-shadow: 0 -4px, 6px -3px, -6px -3px;
}
.icono-circle {
  width: 11px;
  height: 11px;
  border: 1px solid;
  border-radius: 50%;
  margin: 3px;
}
.icono-ellipsis {
  width: 2px;
  height: 2px;
  box-shadow: 0 -4px 0, 0 0 0 16px inset, 0 4px 0;
  margin: 8px;
}
.icono-spinner {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: -8px 0 0 -5px, -6px -6px 0 -5px, 0 -8px 0 -5px, 6px -6px 0 -4px, 8px 0 0 -4px, 6px 6px 0 -4px, 0 8px 0 -4px, -6px 6px 0 -4px;
  margin: 4px;
}
.icono-bluetooth {
  width: 2px;
  height: 13px;
  box-shadow: inset 0 0 0 16px;
  margin: 2px 8px 2px 8px;
}
.icono-bluetooth:before,
.icono-bluetooth:after {
  position: absolute;
  width: 9px;
  height: 4px;
  border-width: 2px 2px 2px 0;
  border-style: solid;
  border-top-color: transparent;
  top: 1px;
  left: -7px;
  transform: rotate(-45deg);
}
.icono-bluetooth:after {
  top: 5px;
  transform: rotate(45deg) rotateX(180deg);
}
[class*="icono-"] {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-style: normal;
  color: currentColor;
  text-align: left;
  text-indent: -9999px;
  direction: ltr;
}
[class*="icono-"]:before,
[class*="icono-"]:after {
  content: '';
  pointer-events: none;
}
[class*="icono-"][class*="Circle"] {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 1px;
}
[class*="icono-"][class*="Square"] {
  border-radius: 2px;
  width: 15px;
  height: 15px;
  margin: 1px;
}
[class*="icono-"],
[class*="icono-"] * {
  box-sizing: border-box;
}
