body {
  font-size: 12pt;
}

.htracker-table td {
  padding: 6px 10px;
  font-size: 1.1em;
}

.htracker-table td:first-child {
  padding-left: 0;
}

.htracker-table td:last-child {
  padding-right: 0;
}

.htracker-table p {
  line-height: 200%;
}

.htracker-table-item-name {
  font-weight: 600;
}

.htracker-modal-container {
  padding: 5px 0;
}

.htracker-modal-container .row {
  margin: 0 0 15px 0;
}

.htracker-modal-container .col-form-label {
  padding-left: 0;
}

.htracker-modal-container div:last-child {
  padding-right: 0;
}

#htracker-nav>.nav-item {
  padding-left: 15px;
  padding-right: 15px;
}


#htracker-nav>a.nav-item {
  font-size: 0.875rem;
}



.htracker-nav-right {
  float: right !important;
  margin-right: 2px;
}


#htracker-module-navbar {
  clear: both;
  height: 2.0rem;
  margin: 10px 0;
  display: block;
}

#htracker-module-navbar li,
#htracker-module-navbar button {
  height: 2.0rem;
  vertical-align: middle;
}


#htracker-module-navbar li:last-child {
  margin-right: 0;
}

#htracker-module-navbar form {
  margin-bottom: 0 !important;
}

#htracker-module-navbar form input,
#htracker-module-navbar form button {
  height: 2.0rem !important;
  vertical-align: middle;
}

#htracker-module-navbar #htracker-proc-list-status-msg {
  height: 2.0rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem !important;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.hide {
  display: none;
}

#body-content {
  background-color: #f5f5f5;
}

#body-content .navbar-brand {
  font-size: 1.2em;
}

#htracker-module-layout>#htracker-module-navbar {
  padding: 0 10px;
}

#htracker-module-layout button {
  padding-left: 10px;
  padding-right: 10px;
}


#htracker-module-layout button .icon16 {
  margin: 0 5px 2px 0;
}

#htracker-module-layout .alert {
  margin-bottom: 10px;
}

.htracker-module-nav {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 0 10px 10px;
  float: left;
  display: inline-block;
  vertical-align: middle;
}


.htracker-module-nav:first-child {
  margin-left: 0 !important;
}

.htracker-module-nav>li {
  position: relative;
  padding: 0;
  margin: 0 10px 0 0;
  display: inline-block;
  zoom: 1;
  vertical-align: middle;
  line-height: 1.5rem;
  float: left;
  border-radius: 0.2rem;
}


.htracker-module-nav>li:first-child {
  /* margin-left: 0; */
}

.htracker-module-nav>li>a,
.htracker-module-nav>li.item {
  padding: 0.25rem 0.5rem;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: #777;
  line-height: 1.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}

.htracker-module-nav>li>a:hover {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: #777;
  background-color: rgba(0, 0, 0, 0.1);
}

.htracker-module-nav>li.active,
.htracker-module-nav>li>a.active {
  background-color: #333;
  color: #fff;
}

.htracker-module-nav>li.active>a {
  color: #fff;
}

.htracker-module-nav>li.active:after,
.htracker-module-nav>li>a.active:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -0.6rem;
  width: 0;
  height: 0;
  border-color: #333 transparent transparent transparent;
  border-style: solid;
  border-width: 0.6rem;
}

.htracker-module-nav>li.hover,
.htracker-module-nav>li>a.hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #777;
}

.htracker-module-nav>li.hover_border,
.htracker-module-nav>li>a.hover_border {
  border: rgba(0, 0, 0, 0.1) 1px solid;
}

.htracker-module-nav>li.primary,
.htracker-module-nav>li>a.primary {
  background-color: rgb(0, 120, 231);
  color: #fff;
}

#htracker-module-navbar-optools {
  font-size: 0.875rem;
}

#htracker-module-navbar-optools button {
  margin: 0;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

#htracker-module-navbar-optools input {
  margin: 0;
  padding: 0.25rem 0.5rem;
  line-height: 1.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem;
  background-color: #fff;
  color: #000;
}

.htracker-div-h-title {
  padding: 10px 10px 5px 10px;
  font-size: 1.2em;
  line-height: 100%;
}

.htracker-div-container {
  margin: 0 10px;
}

.htracker-div-light {
  clear: both;
  background-color: #fff;
  margin: 0 10px;
  padding: 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.htracker-div-hover {
  cursor: pointer;
}

.table th {
  border-top: 0px !important;
}

.table.valign-middle td {
  vertical-align: middle !important;
}

.htracker-proj-procstats-item {
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
  margin: 0 10px 20px 10px;
  flex: 1 0 400px;
  text-align: center;
}

.htracker-proj-procstats-item:empty {
  padding: 0;
  margin: 1px 10px;
  height: 0;
  border: none;
}

.htracker-body-footer {
  margin: 10px;
  text-align: center;
  color: #6c757d;
  font-size: 1em;
}

.htracker-body-footer a {
  color: #6c757d;
  font-size: 1.1em;
  text-decoration: underline;
}

.alert ul {
  margin: 5px 0 5px 0;
  padding: 0 0 0 1em;
  line-height: 150%;
}

.alert ul li {
  margin-left: 0;
}